body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
}

nav {
  background: #b71c1c;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  background: white;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #b71c1c;
}

#result, #msg {
  margin-top: 15px;
  font-weight: bold;
}
